<div class="freelancer-container">
  <header class="freelancer-header">
    <div class="header-left">
      <div class="logo-container">
        <img src="https://res.cloudinary.com/dt0f3rrdh/image/upload/v1747376650/BeCode_sadadq.png" alt="BeCode Logo" class="logo-image">
        <span class="logo-text">BeCode</span>
      </div>
    </div>
    <div class="header-right">
      <div class="header-info">
        <p class="header-message">¡Bien hecho Kael! Completa este último paso para empezar esta nueva aventura.</p>
      </div>
      <div class="header-arrow">
        &lt;
      </div>
    </div>
  </header>

  <main class="freelancer-main">
    <div class="form-card">
      <div class="form-group">
        <label for="projectId" class="form-label">ID del proyecto</label>
        <input type="text" id="projectId" class="form-input" formControlName="projectId">
      </div>

      <div class="form-group">
        <label for="invitationCode" class="form-label">Código de invitación</label>
        <input type="text" id="invitationCode" class="form-input" formControlName="invitationCode">
      </div>

      <div class="buttons-container">
        <button class="primary-button" (click)="submitForm()">Ingresar</button>
        <button class="secondary-button" (click)="goToHomePage()">Cancelar</button>
      </div>
    </div>
  </main>
</div>
