<app-search-bar></app-search-bar>

<div class="projects-grid">
  <mat-card class="project-card" *ngFor="let project of paginatedProjects">
    <mat-card-header>
      <mat-card-title>{{ project.name }}</mat-card-title>
      <mat-card-subtitle
        >Inicio: {{ project.startDate | date }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <p>{{ project.description }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">
        <mat-icon>visibility</mat-icon>
        Ver más
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-paginator
  [length]="projects.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  (page)="handlePageEvent($event)"
  aria-label="Seleccionar página"
>
</mat-paginator>
