<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Correo electrónico</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      placeholder="Correo electrónico"
    />
    <div *ngIf="email.invalid && email.touched" class="error">
      Correo inválido
    </div>

    <label for="password">Contraseña</label>
    <div class="password-wrapper">
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        formControlName="password"
        placeholder="Contraseña"
      />
    </div>
    <div *ngIf="password.invalid && password.touched" class="error">
      Mínimo 6 caracteres
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
  </form>

  <p>
    ¿Eres nuevo?
    <a (click)="goToRegister()" style="cursor: pointer">Crear cuenta</a>
  </p>
</div>
