<header class="app-header">
    <div class="header-content">
      <div class="left-section">
        <div class="title-container">
          <h1 class="app-title nunito-title">{{ 'header.title' | translate }}</h1>
        </div>
        <div class="button-group">
          <button mat-button class="nav-button">{{ 'header.button1' | translate }}</button>
          <button mat-button class="nav-button">{{ 'header.button2' | translate }}</button>
          <button mat-button class="nav-button">{{ 'header.button3' | translate }}</button>
        </div>
      </div>
      <div class="right-section">
        <div class="profile-container">
          <span class="profile-name">EXAMPLE</span>
          <div class="language-switcher-container">
            <app-language-switcher></app-language-switcher>
          </div>
        </div>
      </div>
    </div>
</header>
  