.register-container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: #fdfdfd;
}

input,
button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: 1px solid #42c1e0;
  border-radius: 8px;
}

.error {
  color: red;
  font-size: 0.9em;
}

.terms {
  font-size: 0.8em;
  margin: 1rem 0;
}

.password-wrapper {
  position: relative;
}

.password-wrapper button {
  position: absolute;
  right: 10px;
  top: 8px;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}
