<div class="home-container">
  <header class="home-header">
    <div class="logo-container">
      <img src="https://res.cloudinary.com/dt0f3rrdh/image/upload/v1747376650/BeCode_sadadq.png" alt="BeCode Logo" class="logo-image">
      <span class="logo-text">BeCode</span>
    </div>
    <div class="header-info">
      <p class="header-message">¡Hola Kael! Tu cuenta ya está casi creada. Escoge la categoría a la que perteneces.</p>
    </div>
  </header>

  <main class="main-content">
    <h1 class="main-title">Perfecto</h1>
    <p class="subtitle">Ya casi estás listo para empezar a usar BeCode</p>

    <div class="buttons-wrapper">
      <div class="button-container">
        <h2 class="button-question">¿Eres un Freelancer?</h2>
        <button class="primary-button freelancer-button" (click)="goToFreelancerForm()">
            Registrarse como freelancer
        </button>
      </div>
      <div class="separator"></div>
      <div class="button-container">
        <h2 class="button-question">¿Eres un inversionista?</h2>
        <button class="primary-button investor-button" (click)="goToInvestorForm()">
          Registrarse como inversionista
        </button>
      </div>
    </div>
  </main>

  <footer class="home-footer">
    <div class="footer-links">
      <a href="#" class="footer-link">Contacto</a>
      <a href="#" class="footer-link">Redes Sociales</a>
      <a href="#" class="footer-link">Conócenos</a>
    </div>
  </footer>
</div>
